<h2>Leaderboard</h2>
<p>We have {{ numberOfUsers }} users.</p>
<table class="table table-striped table-hover table-condensed" id="leaderboard">
    <thead>
        <tr>
            <th class="">Rank</th>
            <th class="">Score</th>
            <th class="">Name</th>
            <th class="">Photo</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users | async; let i = index" [ngClass]="{'success': user.$key === loggedInUser?.uid}" id="{{ user.$key }}" >
            <td>{{ i + 1 }} <span *ngIf="i === 0" class="glyphicon glyphicon-star"></span></td>
            <td><span class="badge">{{ user.score }}</span></td>
            <td>{{ user.name }}</td>
            <td><img src="{{ user.profileImageURL }}" alt="{{ user.name }}" class="user-image small-user-image"></td>
        </tr>
    </tbody>
</table>
