<h2>Leaderboard</h2>
<p>We have {{ numberOfUsers }} users.</p>
<table class="table table-striped table-hover table-bordered table-condensed" id="leaderboard">
    <thead>
        <tr>
            <th class="">#</th>
            <th class="">Score</th>
            <th class="">Name</th>
            <th class="">?</th>
        </tr>
    </thead>
    <tbody>
        <tr id="{{ user.$key }}" *ngFor="let user of users | async; let i = index" [ngClass]="{'success': i === 0}" (click)="gotoDetail(user.$key)">
            <td>{{ i + 1 }}</td>
            <td>{{ user.score }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.score }}</td>
        </tr>
    </tbody>
</table>
