/*.active { background-color: aquamarine}*/

.profile { 
    display: flex;
    justify-content: space-around;
}

.profile-details {
    margin-left: 1.2em;
    display: flex;
    flex-direction: column;
    justify-content: inherit;
}

.login-buttons {
    margin: auto -10px;
}