<div class="container">
  <div *ngIf="auth | async" class="thumbnail">
    <img src="{{ user.profileImageURL }}" alt="{{ user.name }}" class="user-image">
    <div class="caption overlay">
      <p>{{ user.name }}</p>
    </div>
  </div>
  <h1>
    {{title}}
  </h1>
  <ul class="nav nav-tabs">
    <li><a routerLink="/leaderboard" routerLinkActive="active">Leaderboard</a></li>
    <li><a routerLink="/about" routerLinkActive="active">About</a></li>

    <li *ngIf="(auth | async)"><a routerLink="/users" routerLinkActive="active">Users</a></li>
    <li *ngIf="!(auth | async)" class="pull-right"><a (click)="login()">Login</a></li>
    <li *ngIf="(auth | async)" class="pull-right"><a (click)="logout()">Logout</a></li>
  </ul>
  <router-outlet></router-outlet>
  <footer class="footer">

  </footer>
</div>