/*.active { background-color: aquamarine}*/
.user-image {
    border-radius: 50%;
}
.profile { 
    float: right;
    display: flex;
    justify-content: space-between;
    margin-bottom: -15px;
}

.profile-details {
    margin-left: 1.2em;
    display: flex;
    flex-direction: column;
    justify-content: inherit;
}

.thumbnail {
    position:relative;
    float: right;
}

.clickable {
    cursor: pointer;
}