<div class="container">
  <div class="row">
    <div class="col-md-7">
      <h1>{{title}}</h1>
    </div>
    <div *ngIf="user.name" class="profile thumbnail col-md-5" [@flyInOut]="user.name">
      <div class="profile-image">
        <img src="{{ user.profileImageURL }}" alt="{{ user.name }}" class="user-image">
      </div>
      <div class="profile-details">
        <p>{{ user.name }}</p>
        <p>Score: <strong>{{ user.score }}</strong></p>
        <p><a (click)="logout()" class="clickable"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Logout</a></p>
      </div>
    </div>
  </div>
  <ul class="nav nav-tabs">
    <li><a routerLink="/leaderboard" routerLinkActive="active"><span class="glyphicon glyphicon-certificate" aria-hidden="true"></span> Leaders</a></li>
    <li><a routerLink="/about" routerLinkActive="active"><span class="glyphicon glyphicon-education" aria-hidden="true"></span> About</a></li>

    <li *ngIf="admin" class="pull-right"><a routerLink="/admin/users" routerLinkActive="active"><span class="glyphicon glyphicon-user" aria-hidden="true"></span><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Users</a></li>
    <li *ngIf="admin" class="pull-right"><a routerLink="/admin/challenges" routerLinkActive="active"><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Challenges</a></li>

    <div *ngIf="!(auth | async)" class="btn-group pull-right login-buttons" role="group" aria-label="group">
      <a class="btn btn-success" routerLink="/signup"><span class="glyphicon glyphicon-star" aria-hidden="true"></span> Sign up</a>
      <a class="btn btn-primary" routerLink="/login"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Login</a>
    </div>
  </ul>
  <router-outlet></router-outlet>
  <footer class="footer">
    <a class="btn btn-default" (click)="logout()">Logout</a>
    <a class="btn btn-default" (click)="check()">Check</a>
  </footer>
</div>