/* You can add global styles to this file, and also import other style files */
$blue-dark: #005ABB;
$blue-medium: #006EDE;
$blue-light: #348DEF;

.user-image {
    border-radius: 50%;
}
.small-user-image {
    height: 25px;
    width: 25px;
}
.clickable {
    cursor: pointer;
}